.btn-primary {
  background-color: #20BF6B;
  border-color: #20BF6B;
}

.right{
  position: relative;
left: 502px;
top: 16px;
}

.btn-primary:hover {
  background-color: #20BF6B;
  border-color: #20BF6B;
}

.btn-primary:after {
  background-color: #20BF6B;
  border-color: #20BF6B;
}

input{
  width: 100%;
  border: 1px solid grey;
  height: 48px;
  border-radius: 10px;
  box-shadow:none;
  margin-bottom: 5px;
}

.modal-content{
  border-radius: 10px;
  position: relative;
  width: 435px;

}

p{
  font-size: 18px;
}

.date{
   width: 80px;
}

.display{
  display: flex;
  flex-direction: row;
}