
.btn-primary {
  background-color: #20BF6B;
  border-color: #20BF6B;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


.right{
  position: relative;
left: 502px;
top: 16px;
}

.btn-primary:hover {
  background-color: #20BF6B;
  border-color: #20BF6B;
}

.btn-primary:after {
  background-color: #20BF6B;
  border-color: #20BF6B;
}

input{
  width: 100%;
  border: 1px solid grey;
  height: 48px;
  border-radius: 10px;
  box-shadow:none;
  margin-bottom: 5px;
}

.modal-content{
  border-radius: 10px;
  position: relative;
  width: 435px;

}

p{
  font-size: 18px;
}

.date{
   width: 80px;
}

.display{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-around;
}

.display input{
  margin-right: 10px;
  margin-left: 10px;
}

/* filter */
.people{
    display: flex;
    align-items: center;
}

.people input{
    width: 50px!important;
    margin-left: 20px;
    text-align: center;
}

.checkbox input {
  width: 25px!important;
  display: flex;
}

.transparent{
  background-color: transparent!important;
  border: none!important;
}

.filter{
  display: flex;
  align-items:center;
}

.filter input{
  margin-right: 15px;
}
